.pokemon-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  flex-basis: 12rem;
  justify-content: space-between;
  background-color: white;
  border-radius: .3rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  & img {
    width: 4rem;
  }
}

h1 {
  font-size: 1.3rem;
}

.abilities-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;

  & p {
    font-size: .7rem;
    background-color: #b7a9a9;
    padding: .5rem 2rem;
    border-radius: .3rem;
  }
}

.main-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}